<h1>{{ title }}</h1>
<!-- <app-login></app-login>
<app-dashboard></app-dashboard> -->
<!-- <h2>{{2+2}}</h2> -->

<!-- Property binding -->
<!-- <img [src]="imageUrl" />

<br/> -->

<!-- String interpolation -->
<!-- <img src="{{imageUrl}}" /> -->

<br/>

<button [disabled]="isDisabled">Click Me</button>

<button disabled="{{isDisabled}}">Click Me</button>

<hr/>

<button [attr.aria-lable]="ariaLableText" >Attribute Binding</button>
<button>Without Area Lable</button>

<hr/>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Janindu</td>
        <td>26</td>
    </tr>
    <tr>
        <td>Diluni</td>
        <td>30</td>
    </tr>
    <tr>
        <!-- <td colspan="2">Sum of the age: 56</td> -->
        <!-- <td [colSpan]="colSpan">Sum of the age: 56</td> -->
        <td [attr.colspan]="colSpan">Sum of the age: 56</td>
    </tr>
</table>

<hr/>

<!-- Data binding -->

<!-- Style binding -->

<!-- <h1 [style.color]="color" [style.backgroundColor]="'yellow'">{{phara}}</h1>

<hr/> -->

<!-- Class binding -->

<!-- <h3 
[class.active]="isActive"
[class.nonactive]="!isActive"
>{{phara}}</h3>

<p 
[style.color]="isActive ? 'pink' : 'green'"
[style.backgroundColor]="isActive ? 'green' : 'pink'"
>{{text}}</p>

<h5 
[class.active]="name == 'Janindu'"
[class.nonactive]="name != 'Janindu'"
>{{text}}</h5> -->


<!-- Data Binding -->

<button (click)="clickButton()" >Click Me</button>

<br/>
<br/>

<input type="text" (keyup)="typeInput($event)" />

<br/>
<br/>

<input type="text" (keydown.enter)="keydoenClicked()" />

<br/>
<br/>

<!-- Data Binding Template Variable -->

<input type="text" (keyup)="showData(inputRef)" #inputRef id="name" />

<br/>

<h3>{{inputValue}}</h3>

<br/>
<br/>

<!-- Two Way Data Binding -->

<input type="text" [(ngModel)]="twoWayValue" />

<h3>{{twoWayValue}}</h3>

