<!-- <h1>{{ title }}</h1> -->
<!-- <app-login></app-login>
<app-dashboard></app-dashboard> -->
<!-- <h2>{{2+2}}</h2> -->

<!-- Property binding -->
<!-- <img [src]="imageUrl" />

<br/> -->

<!-- String interpolation -->
<!-- <img src="{{imageUrl}}" /> -->

<!-- <br/>

<button [disabled]="isDisabled">Click Me</button>

<button disabled="{{isDisabled}}">Click Me</button>

<hr/>

<button [attr.aria-lable]="ariaLableText" >Attribute Binding</button>
<button>Without Area Lable</button>

<hr/>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Janindu</td>
        <td>26</td>
    </tr>
    <tr>
        <td>Diluni</td>
        <td>30</td>
    </tr>
    <tr>
        <td colspan="2">Sum of the age: 56</td> -->
        <!-- <td [colSpan]="colSpan">Sum of the age: 56</td> -->
        <!-- <td [attr.colspan]="colSpan">Sum of the age: 56</td>
    </tr>
</table>

<hr/> --> 

<!-- Data binding -->

<!-- Style binding -->

<!-- <h1 [style.color]="color" [style.backgroundColor]="'yellow'">{{phara}}</h1>

<hr/> -->

<!-- Class binding -->

<!-- <h3 
[class.active]="isActive"
[class.nonactive]="!isActive"
>{{phara}}</h3>

<p 
[style.color]="isActive ? 'pink' : 'green'"
[style.backgroundColor]="isActive ? 'green' : 'pink'"
>{{text}}</p>

<h5 
[class.active]="name == 'Janindu'"
[class.nonactive]="name != 'Janindu'"
>{{text}}</h5> -->


<!-- Data Binding -->

<!-- <button (click)="clickButton()" >Click Me</button>

<br/>
<br/>

<input type="text" (keyup)="typeInput($event)" />

<br/>
<br/>

<input type="text" (keydown.enter)="keydoenClicked()" />

<br/>
<br/> -->

<!-- Data Binding Template Variable -->

<!-- <input type="text" (keyup)="showData(inputRef)" #inputRef id="name" />

<br/>

<h3>{{inputValue}}</h3>

<br/>
<br/> -->

<!-- Two Way Data Binding -->

<!-- <input type="text" [(ngModel)]="twoWayValue" />

<h3>{{twoWayValue}}</h3> -->

<h1>{{topic}}</h1>

<!-- <p *ngIf="isLogging">This page topic name is {{topic}}</p>

<p *ngIf="!isLogging">Please Logging!</p> -->

<!-- @if (isLogging) {
    <p>This page topic name is {{topic}}</p>
}

@if (!isLogging) {
    <p>Please Logging!</p>
} -->

<!-- <p *ngIf="isLogging; else info">This page topic name is {{topic}}</p>

<ng-template #info>
    <p>Please Logging!</p>
</ng-template> -->

<!-- @if (isLogging) {
    <p>This page topic name is {{topic}}!</p>
} 
@else {
    <p>Please Logging!</p>
} -->

<!-- <p *ngIf="status === 'success'; else failed" >Success</p>

<ng-template #failed>
    <p>Failed</p>
</ng-template> -->

<!-- @if (status === 'success') {
    <p>Success</p>
}
@else {
    <p>Failed</p>
} -->

<!-- <h3 *ngIf="marks > 50 ; else info">Marks greater than 50...</h3>

<ng-template #info>
    <h3>Marks less that or equel...</h3>
</ng-template> -->

<!-- @if (marks > 50) {
    <h3>Marks greater than 50...</h3>
}
@else {
    <h3>Marks less that or equel...</h3>
} -->

<!-- <button (click)="toggleContent()">Toggle</button>

<h4 *ngIf="isContentVisible" >This is some content.</h4> -->

<!-- <button (click)="toggleContent()">Toggle</button>

@if (isContentVisible) {
    <h4>This is some content.</h4>
} -->

<!-- <h1 *ngIf="role === 'admin'">This is Admin</h1>
<h1 *ngIf="role === 'editor'">This is Editor</h1>
<h1 *ngIf="role === 'user'">This is User</h1> -->

<!-- @if (role === 'admin') {
    <h2>This is Admin</h2>
}
@else if (role === 'aditor') {
    <h2>This is Editor</h2>
}
@else {
    <h2>This is User</h2>
} -->

<!-- <h2 *ngIf="role === 'admin'; else editorTemplate">This is Admin</h2>

<ng-template #editorTemplate>
    <h2 *ngIf="role === 'editor'; else userTemplate">This is Editor</h2>
</ng-template>

<ng-template #userTemplate>
    <h2>This is User</h2>
</ng-template> -->

<!-- <ng-template *ngIf="role === 'admin' then adminTemplate else editorTemplate"></ng-template>

<ng-template #adminTemplate>
    <h2>This is Admin</h2>
</ng-template>

<ng-template #editorTemplate>
    <h2 *ngIf="role === 'editor'; else userTemplate">This is Editor</h2>
</ng-template>

<ng-template #userTemplate>
    <h2>This is User</h2>
</ng-template> -->

<!-- <h3 *ngIf="isSignIn && role === 'user'">Welcome User!</h3> -->

<!-- @if (isSignIn && role === 'user') {
    <h3>Welcome User!</h3>
} -->

<!-- <div *ngIf="isSignIn">
    <h2>Welcome Admin!!!</h2>
    <h3 *ngIf="role === 'admin'">Admin's Setting...</h3>
</div> -->

@if (isSignIn) {
    <h2>Welcome Admin!!!</h2>
    @if (role === 'admin') {
        <h3>Admin's Setting...</h3>
    }
}